@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="row justify-content-center">
        <div class=" col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5>List Jobs</h5>
                </div>
            </div>

            <div class="list-group list-group-flush">
                <div class="list-group-item list-group-item-action">
                    <div class="d-flex">
                        <a href="#">
                            <small class="mb-1">
                                Perusahaan
                            </small>
                        </a>
                        <small class="ml-auto">Diunggah pada 10 Januari 2020</small>
                    </div>
                    <p style="color:black;">Posisi Pekerjaan</p>
                    <p class="small"> Gaji : Rp. 5.000.000/bulan </p>
                    <div class="d-flex justify-content-between">
                        <br />
                        <div class="mr-auto">
                            <small>Deskripsi singkat</small>
                        </div>
                        <div class="ml-auto">
                            <form action="/pertanyaans/{{$pertanyaan->id}}/edit" class="mt-2 ml-2 float-left">

                                <button class="btn btn-warning btn-sm" type="submit">
                                    <small style="color:black;">EDIT</small>
                                </button>
                            </form>
                            <form action=" " class="mt-2 mr-2 ml-2 float-right "
                                  method="post">

                                <button class="btn btn-danger btn-sm" type="submit">
                                    <small style="color:white;">DELETE</small>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

