@{
    ViewBag.Title = "Contact";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header ">All Jobs
                <ul class="navbar-nav float-right">
                    <form class="form-inline" method="GET" action="/home">
                        <input name="cari" class="form-control mr-sm-2" type="search"
                               placeholder="Search Jobs..." aria-label="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </ul>
                </div>
                <div class="list-group list-group-flush">
                    <a href="/pertanyaans/{{$pertanyaan->id}}" class="list-group-item list-group-item-action">
                        <div class="d-flex">
                            <small class="mb-1">
                                Nama Perusahaan |
                                Diunggah pada 10 Januari 2020
                            </small>
                        </div>
                        <p>Posisi Pekerjaan</p>
                        <small>Deskripsi Pekerjaan </small>
                    </a>

                </div>

            </div>
        </div>
    </div>
</div>



